* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.list { 
    background-color:lightblue ;
    display: flex;
    flex-direction: row;
    }

.a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: blue (45, 160, 102);
    }

h1 {
    text-align: center;
}

a:hover {
    background-color: peachpuff
}
